<launch>
  <arg name="namespace" default="molab"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="logDirectory" default="$(find project11)/logs/ais/"/>
  <arg name="udp_bridge" default="False"/>

  <group ns="$(arg namespace)">

    <group ns="sensors">

      <group ns="ais">
        <node pkg="marine_ais_tools" type="nmea_relay.py" name="nmea">
          <param name="input_type" value="udp"/>
          <param name="input_port" value="8010"/>
          <param name="frame_id" value="$(arg namespace)/ais"/>
        </node>
        
        <node pkg="marine_ais_tools" type="ais_parser.py" name="parser">
        </node>

        <node pkg="marine_ais_tools" type="ais_contact_tracker.py" name="tracker">
        </node>

        <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="navsat">
          <remap from="nmea_sentence" to="nmea"/>
        </node>

      </group>

      <include file="$(find molab_hardware)/launch/johnny5.launch">
        <arg name="frame_id" value="$(arg namespace)/johnny5"/>
      </include>

    </group>

    <node if="$(arg udp_bridge)" pkg="udp_bridge" type="udp_bridge_node" name="udp_bridge">
      <param name="maxPacketSize" value="1400"/>
    </node>

    <node pkg="mru_transform" type="mru_transform_node" name="mru_transform">
      <param name="base_frame" value="$(arg namespace)/base_link"/>
      <param name="map_frame" value="$(arg namespace)/map"/>
      <param name="odom_frame" value="$(arg namespace)/odom"/>
    </node>

    <node pkg="project11" type="platform_send.py" name="platform_sender"/>

    <rosparam command="load" file="$(find molab_hardware)/config/molab.yaml"/>
  </group>

</launch>



