<launch>
  <arg name="namespace" default="molab"/>
  <arg name="operator_namespace" default="operator"/>
  <arg name="logDirectory" default="$(find project11)/logs/ais/"/>

  <rosparam command="load" file="$(find molab_hardware)/config/molab.yaml" ns="$(arg namespace)"/>
  <rosparam command="load" file="$(find molab_hardware)/config/molab_operator.yaml" ns="$(arg operator_namespace)"/>

  <group ns="$(arg namespace)/sensors">
    <node pkg="ais" type="ais_node.py" name="ais_node" args="$(arg logDirectory)/">
      <param name="input_type" value="udp"/>
      <param name="input_port" value="8010"/>
      <param name="frame_id" value="$(arg namespace)/ais"/>
    </node>
    
  <!-- <node pkg="axis_tracker" type="axis_tracker_node.py" name="axis_tracker" /> -->
  <!-- <include file="$(find project11)/launch/camera_johnny5.launch" /> -->
    
  <!-- <node pkg="marine_traffic_com" type="marine_traffic_node.py" name="marine_traffic_com"/> -->
  </group>
</launch>



